//  DDS STYLING
//  ------------------------------

// 1. Colours
// ---------
$darkblue: #003366;
$cyan: #66D3FB;
$aqua: #6EBCCD;
$yellow: #E9EC5F;
$red: #EA636F;
$brown: #654D46;
$lightgreen: #65DE03;
$darkgreen: #1D6D38;
$orange: #F4AE3E;
$purple: #7554A2;
$grey: #7A878B;
$beige: #D3C5A6;

// 2. Body styles
// ---------

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alfa Slab One', Arial, cursive;
}

body, table.body p, td, th, a {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

// 3. Misc
// ---------